.animacion{

    width: 150px;
    height: 150px;
    background-color: red;
    animation-name: example;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
    animation-duration: 3s;
}
@keyframes example{
    from {background-color: white;}
    to {background-color: #7DCADD;}
}

.flexbox{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}