*{
    font-family: 'Montserrat', sans-serif;
    // text-align: center;
}

// PALETA DE COLORES
$blanco: #FFFFFF;
$azul-oscuro: #0566A3;
$azul-claro: #1B8BB8;
$celeste: #7DCADD;

// HOME
.bg-img{
    position: absolute;
    top: 56px;
    right: 0;
    z-index: -1;
    margin: 0%;
    width: 100%;
    height: calc(100vh - 56px);
    max-height: 1200px;
    background-image: url(https://s3.amazonaws.com/turismorocha/atractivos/20/med/playa-la-balconada-091708900-1550190018.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.text-bg{
    height: calc(100vh - 56px);
    display: flex;
    justify-content: center;
    align-items: center;
}

div.title{
    h1{
        text-shadow: 2px 2px 8px $blanco;
        font-size: 40px;
        @media (max-width: 576px) {
            font-size: 25px;
        }
        p{
            font-size: 16px;
            @media (max-width: 576px) {
                font-size: 14px;
            }
        }
    }
}

.bandera{
    transform: skewX(20deg);
    @media (max-width: 576px) {
        max-width: 140px;
    }
    animation-name: deslizar;
    animation-iteration-count: 1;
    animation-duration: 2s;
}
@keyframes deslizar {
    from {
    margin-left: -100%;
    }
    to {
    margin-left: 0;
    }
}
.boton {
    background-color: $azul-oscuro;
    border: 1px;
    border-radius: 3px;
    color: $blanco;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 40px;
    transition-duration: 0.4s;
    font-weight: bold;
}
    .boton:hover{
        background-color: $blanco;
        color: $azul-oscuro;
    }



// LUGARES
h2{
    text-align: center !important;
}


$departamentos: (
    artigas: yellow,
    cerro_largo: green,
    montevideo: beige,
    salto: red,
    paysandu: blue,
);

@each $departamento, $color_fondo in $departamentos{
    .colorcito--#{$departamento}{
        background-color: $color_fondo;
    }
}


.images{
    width: 250px;
    margin-bottom: 20px;
}

.flexbox{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.cajas{
    width: 400px;
    display: inline-block;
}


.animacion{
    animation-name: example;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
    animation-duration: 3s;
}
@keyframes example{
    from {background-color: $blanco;}
    to {background-color: $celeste;}
}


div.enero{
    @media (max-width: 576px) {
        background-color: $azul-claro;
    }
}

#contenedor_carousel_rincones{
    max-width: 1000px;
    margin: 0 auto;
}

.completas{
    width: 100%;
}

.formulario{
    border: 4px solid $azul-oscuro;
    border-radius: 5px;
}


footer.footer{
    background-color: $azul-oscuro;
    overflow: hidden;
    color: white;
}
.icons{
    height: 26px;
    margin: 5px;
}
#copyright-footer{
    font-size: small;
}








