@import url('https://fonts.googleapis.com/css2?family=Itim&family=Lemonada&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merienda&display=swap');

h1, h2, h3{
    font-family: 'Lemonada', cursive;
}
// PALETA DE COLORES
$blanco: #FFFFFF;
$azul-oscuro: #0566A3;
$azul-claro: #1B8BB8;
$celeste: #7DCADD;

// HOME
.text-bg{
    position: absolute;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #213d58f2;
}

div.title{
    h1{
        text-shadow: 2px 2px 8px $blanco;
        font-size: 40px;
        @media (max-width: 576px) {
            font-size: 25px;
        }

    }
}

.boton {
    background-color: $azul-oscuro;
    border: 1px;
    border-radius: 3px;
    color: $blanco;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 13px;
    transition-duration: 0.4s;
    font-weight: bold;
}
    .boton:hover{
        background-color: $blanco;
        color: $azul-oscuro;
    }
    h2{
        text-align: center !important;
    }



// LUGARES
.generico{
    height: calc(100vh - 71px);
}
.centrado{
    margin-top: 200px;
    @media (max-width: 576px){
        margin-top: 140px;
    }
}

#destinos{
    font-weight: 400;
        @media (max-width: 576px){
        margin: 0 25px 0 25px;
    }
    }


.contenedor{
    width: 100%;
    height: 500px;
    display: flex;
}
.fotos{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 80%;
    background-color: black;
    z-index: -1;
}

.hijo{
    width: 50%;
    height: 100%;
}
#hijo1{
    background-color: #f48741;
}
#hijo2{
    background-image: url(/img/unnamed.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 80%;
    background-color: black;
    z-index: -1;
}
.nombre{
    font-family: 'Merienda', cursive;
    text-align: center;
    font-size: 3rem;
    color: white;
    margin-top: 400px;
    text-shadow: 2px 2px 2px black;
    @media (max-width: 576px) {
        font-size: 27px;
        margin-top: 420px;
    }
    @media (max-width: 978px) {
        font-size: 40px;
    }
}
.castoro{
    text-align: center;
    font-family: 'Castoro', serif;
    color: white;
    font-size: 15px;
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 80px;
    @media (max-width: 576px){
        font-size: 13px;
        margin-top: 26px;
    }
    @media (min-width: 577px) and (max-width: 800px) {
        margin-top: 20px;
    }
}
.mayor{
    font-family: 'Castoro', serif;
    color: $blanco;
    font-size: 2.5rem;
    margin-top: 50px;
    @media (max-width: 576px) {
        font-size: 24px;
    }
}
#hijo3{
    background-image: url(/img/aguila.jfif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 80%;
    background-color: black;
    z-index: -1;
}
#hijo4{
    background-color: #c5ae91;
}
#hijo5{
    background-image: url(/img/pde.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 80%;
    background-color: black;
    z-index: -1;
}
#hijo6{
    background-color: #6a868fa1;
}
#hijo7{
    background-image: url(/img/Villa-Serrana.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 80%;
    background-color: black;
    z-index: -1;
}
#hijo8{
    background-color: #9acd32bd;
}
.locations{
    font-family: 'Castoro', serif;
    text-align: center;
    font-weight: bold;
}
.bg-img-lugares{
    position: absolute;
    top: 56px;
    right: 0;
    z-index: -1;
    margin: 0%;
    width: 100%;
    height: calc(100vh - 56px);
    max-height: 1200px;
    background-image: url(/img/playa-la-balconada.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    filter: opacity(0.6);
}

// EVENTOS
.espacio{
    height: 100px;
}

.justificado{
    text-align: justify;
}

.bg-img-eventos{
    position: absolute;
    top: 69px;
    right: 0;
    z-index: -1;
    margin: 0%;
    width: 100%;
    height: 157vh;
    background-image: url(/img/Cabo-Polonio.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    filter: opacity(0.6);
}
.lead{
    font-size: 1.25rem;
    font-weight: 400;
    margin-bottom: 50px;
}

// GALERIA
.centrado-galeria{
    height: calc(100vh - 56px);
    margin-top: 8%;
}

div.gallery {
    width: 45%;
    margin: 15px auto;
    display: flex;
}


div.gallery img {
    width: 100%;
    height: auto;
    transition: .5s;
    &:hover{
        border: 1px solid #777;
        filter: brightness(0.5);
    }
}



// CONTACTO
.formulario{
    border: 4px solid $azul-oscuro;
    border-radius: 5px;
    font-weight: 600;
    color: #000000b0;
}

.bg-img-form{
    position: absolute;
    top: 56px;
    right: 0;
    z-index: -1;
    margin: 0%;
    width: 100%;
    height: 123vh;
    max-height: 1200px;
    background-image: url(/img/casapueblo.jfif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    filter: opacity(0.5);
}

.espacio-contacto{
    height: 59px;
    @media (max-width: 1200px) {
        height: 66px;
    }
}

// FOOTER
footer.footer{
    background-color: $azul-oscuro;
    overflow: hidden;
    color: white;
}
.icons{
    height: 26px;
    margin: 5px;
}
#copyright-footer{
    font-size: small;
}